@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Model</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Model", "Manager", FormMethod.Post))
        {
            Html.TextBox("");
        }
    </div>
</body>
</html>
