<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <add key="MYORMConnectionString" value="Data Source=WWW-EBFA19F5D27\SQLEXPRESS;Initial Catalog=master;Integrated Security=True"/>
  <add key="DatabaseName" value="MYORMTest"/>
  <add key="DatabaseDir" value="D:\VSProjects\MYTestWeb\UI\App_Data\"/>
</configuration>