<?xml version="1.0"?>
  <MYIoc>
    <!--
     1,dependon 对应 register 的 name
     2,确保register中name的值为唯一
     -->
    <register type="" name="" mapTo="">
      <!--构造器注入-->
      <constructor>
        <!--
        type:
        {
           long,
           float,
           ...
        }
         -->
        <param name="" type="string" value="sasas"></param>
        <param name="" dependon=""></param>
      </constructor>
      <!--属性注入(setter)-->
      <property name="" dependon=""></property>
      <!--方法注入-->
      <method name="">
        <param name="" dependon=""></param>
      </method>
    </register>
  </MYIoc>


