<?xml version="1.0"?>
  <MYIoc>
    <!--
     dependon 对应 register 的 name
     -->
    <register type="" name="" mapTo="">
      <!--构造器注入-->
      <constructor>
        <param name="" value=""></param>
        <param name="" type="" dependon=""></param>
      </constructor>
      <!--属性注入(setter)-->
      <property name="" dependon=""></property>
      <!--方法注入-->
      <method name="">
        <param name="" dependon=""></param>
      </method>
    </register>
  </MYIoc>


