<?xml version="1.0"?>
<!-- 业务逻辑类的依赖注入 -->
<MYIoc>
  <!--
     1,dependon 对应 register 的 name
     2,确保register中name的值为唯一
     -->
  <register type="IBusiness.ICategoryBIZ,IBusiness" mapTo="Business.CategoryBIZ,Business"></register>
  <register type="IBusiness.IDateInfoBIZ,IBusiness" mapTo="Business.DateInfoBIZ,Business"></register>
  <register type="IBusiness.IFileInfoBIZ,IBusiness" mapTo="Business.FileInfoBIZ,Business"></register>
  <register type="IBusiness.IGroupBIZ,IBusiness" mapTo="Business.GroupBIZ,Business"></register>
  <register type="IBusiness.IImageInfoBIZ,IBusiness" mapTo="Business.ImageInfoBIZ,Business"></register>
  <register type="IBusiness.ILogsBIZ,IBusiness" mapTo="Business.LogsBIZ,Business"></register>
  <register type="IBusiness.IModelsBIZ,IBusiness" mapTo="Business.ModelsBIZ,Business"></register>
  <register type="IBusiness.IPrivilegeBIZ,IBusiness" mapTo="Business.PrivilegeBIZ,Business"></register>
  <register type="IBusiness.IShortTextInfoBIZ,IBusiness" mapTo="Business.ShortTextInfoBIZ,Business"></register>
  <register type="IBusiness.ITextInfoBIZ,IBusiness" mapTo="Business.TextInfoBIZ,Business"></register>
</MYIoc>
