<?xml version="1.0"?>
<MYIoc>
  <!--
     1,dependon 对应 register 的 name
     2,确保register中name的值为唯一
     -->
  <register type="MYORM.Interfaces.ITable`1,MYORM" name="sqlServer" mapTo="MYORM.SqlServer.SqlServerTable`1,MYORM"></register>
  <register type="MYORM.Interfaces.ITable`1,MYORM" name="mySql" mapTo="MYORM.SqlServer.MySqlTable`1,MYORM"></register>
  <register type="MYORM.Interfaces.ITable`1,MYORM" name="postgreSql" mapTo="MYORM.SqlServer.PostgreSqlTable`1,MYORM"></register>
  <register type="MYORM.Interfaces.ITable`1,MYORM" name="sqlLite" mapTo="MYORM.SqlServer.SqlLiteTable`1,MYORM"></register>
  <register type="MYORM.Interfaces.ITable`1,MYORM" name="access" mapTo="MYORM.SqlServer.AccessTable`1,MYORM"></register>
  <register type="MYORM.Interfaces.ITable`1,MYORM" name="mongoDB" mapTo="MYORM.SqlServer.MongoDBTable`1,MYORM"></register>
</MYIoc>
