<?xml version="1.0"?>
<logconfig>
  <!--
      name:log处理类的名称 必填
      path:log保存路径 可为空(为空则在根目录下Logs文件夹内)
      format:log格式
      [%%DATE%%]:时间 格式为 yyyyMMdd
      [%%DATEFORMAT%%]:时间 格式为 yyyy-MM-dd
      [%%DATETIME%%]:时间 格式为 yyyyMMddhhmmss
      [%%DATETIMEFORMAT%%]:时间 格式为 yyyy-MM-dd hh:mm:ss
      [%%LOGTEXT%%]:替换文本
      -->
  <log name="MYLog" path="D:\VSProjects\MYTestWeb\UI\Data\Logs\" fileName="MYLog[%%DATE%%].log" format="/-------------log [%%DATETIMEFORMAT%%]------------/\r\n\r\n[%%LOGTEXT%%]\r\n\r\n/-------------log end------------/\r\n\r\n\r\n\r\n" />
  <log name="Error" path="D:\VSProjects\MYTestWeb\UI\Data\Logs\Error" fileName="Error[%%DATE%%].log" format="/-------------log [%%DATETIMEFORMAT%%]------------/\r\n\r\n[%%LOGTEXT%%]\r\n\r\n/-------------log end------------/\r\n\r\n\r\n\r\n" />
  <log name="Action" path="D:\VSProjects\MYTestWeb\UI\Data\Logs\Action" fileName="Action[%%DATE%%].log" format="/-------------log [%%DATETIMEFORMAT%%]------------/\r\n\r\n[%%LOGTEXT%%]\r\n\r\n/-------------log end------------/\r\n\r\n\r\n\r\n" />
  <log name="System" path="D:\VSProjects\MYTestWeb\UI\Data\Logs\System" fileName="System[%%DATE%%].log" format="/-------------log [%%DATETIMEFORMAT%%]------------/\r\n\r\n[%%LOGTEXT%%]\r\n\r\n/-------------log end------------/\r\n\r\n\r\n\r\n" />
  <log name="User" path="D:\VSProjects\MYTestWeb\UI\Data\Logs\User" fileName="User[%%DATE%%].log" format="/-------------log [%%DATETIMEFORMAT%%]------------/\r\n\r\n[%%LOGTEXT%%]\r\n\r\n/-------------log end------------/\r\n\r\n\r\n\r\n" />
</logconfig>
